# Seanneta AAP - 202131099

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('datasetnya.csv')

In [3]:
data

    no data jenis barang     merk   harga        kelas
0         1      keramik  vicenza  385500        laris
1         2      keramik  vicenza  538500        laris
2         3      keramik  vicenza  538500        laris
3         4      plastik  sunlife   18300        laris
4         5      plastik  sunlife   12500        laris
5         6      plastik     fori   27500        laris
6         7         kaca  vicenza  520000        laris
7         8         kaca  sunlife  179000  tidak laris
8         9      keramik  sunlife  178000  tidak laris
9        10      keramik  vicenza   44500  tidak laris
10       11         kaca  vicenza  600000  tidak laris
11       12         kaca  sunlife  285000  tidak laris
12       13         kaca  sunlife  329000  tidak laris
13       14         kaca  vicenza  415000        laris
14       15      keramik  vicenza  309000        laris
15       16      keramik  vicenza  865000        laris
16       17      keramik     fori  999000        laris
17       18      plastik     fori  339000        laris
18       19      plastik     fori  289000        laris
19       20      plastik     fori  559500        laris

In [4]:
from sklearn.preprocessing import LabelEncoder

for col in ['jenis barang', 'merk', 'kelas']:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
    
print(data['jenis barang'].unique(), data['merk'].unique(), data['kelas'].unique())

[1 2 0] [2 1 0] [0 1]

label encoder ini bertujuan untuk data kategori menjadi data numerik

In [5]:
data

    no data  jenis barang  merk   harga  kelas
0         1             1     2  385500      0
1         2             1     2  538500      0
2         3             1     2  538500      0
3         4             2     1   18300      0
4         5             2     1   12500      0
5         6             2     0   27500      0
6         7             0     2  520000      0
7         8             0     1  179000      1
8         9             1     1  178000      1
9        10             1     2   44500      1
10       11             0     2  600000      1
11       12             0     1  285000      1
12       13             0     1  329000      1
13       14             0     2  415000      0
14       15             1     2  309000      0
15       16             1     2  865000      0
16       17             1     0  999000      0
17       18             2     0  339000      0
18       19             2     0  289000      0
19       20             2     0  559500      0

In [6]:
x = data.drop(['no data', 'kelas'], axis = 1)
y = data['kelas']

selanjutnya kita memisahkan kolom target dari dataset

In [7]:
from sklearn.model_selection import train_test_split

lalu splitting data training dan testing

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20, random_state = 0)

untuk text sixe pakai 0.20 karena data yang diuji memiliki perbandingan 70:30

In [9]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

modelNB = GaussianNB()
modelNB.fit(x_train, y_train)

GaussianNB()

In [10]:
hasil_prediksi = modelNB.predict(x_test)

testing model untuk melakukan prediksi

In [11]:
from sklearn.metrics import accuracy_score
print('Akurasi Model: ', accuracy_score(y_test, hasil_prediksi))

Akurasi Model:  0.75

cek keakuratan hasil prediksi

In [12]:
x_new = np.array([[2,0,44000]])
prediksi = modelNB.predict(x_new)
print(prediksi)

[0]

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(